<div class="container auth">
    <div class= "auth-modal">
        <button class="auth-modal-close">
            <svg width="24px"
                 height="24px">
                <use
                    href="../../images/symbol-defs.svg#icon-close">
                </use>
            </svg>
        </button>
      <h3 class="auth-modal-title primary">
         Ви можете авторизуватися за допомогою Google Account:
      </h3>
      <button class="auth-modal-button-google">
        <img src="" alt="">
        <span class="auth-modal-button-google-text">
          <svg   class="auth-modal-button-google-icon"
                 width="18px"
                 height="18px">
                <use
                    href="../../images/symbol-defs.svg#icon-google">
                </use>
            </svg>
          Google
        </span> 
      </button>
      <h3 class="auth-modal-title secondary">
         Або зайти за допомогою імейлу і пароля, попередньо зареєструвавшись:
      </h3>
      <form class="auth-modal-form" action="">
       <input class="auth-modal-input email" type="text" name="mail" id="mail" placeholder="E-mail">
       <input class="auth-modal-input password" type="text" name="password" id="password" placeholder="Password">
      <button class="auth-modal-button sign-in">
        <span class="sign-in-text">
          Увійти
        </span>    
      </button>
      <button class="auth-modal-button log-in">
        <span class="log-in-text">
        Зареєструватись
      </span>
      </button>
      </form> 
    </div>
  </div>