<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            <span class="psevdo-after">Розпродаж</span> Різне
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category">
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
        </ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./image/symbol-defs.svg#icon-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./image/symbol-defs.svg#icon-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            <span class="psevdo-after">Розпродаж</span> Різне
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category">
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
        </ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./image/symbol-defs.svg#icon-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./image/symbol-defs.svg#icon-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            <span class="psevdo-after">Розпродаж</span> Різне
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category">
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
        </ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./image/symbol-defs.svg#icon-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./image/symbol-defs.svg#icon-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            <span class="psevdo-after">Розпродаж</span> Різне
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category">
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
            <li class="item-category">
                <div class="img-category">
                    <img src="https://s3-alpha-sig.figma.com/img/4790/dad9/3cc42f4158791fc9f5a2f6a248d47ef5?Expires=1608508800&Signature=RJhfJxVqaiYATeait9Fzkt0~ThdRFbUGI5IfwIP1c7~d9e5h5QKgY2RZMPphPKALJkMRjV436lv440aBzfKHzVPZ7vFrsqpLUWbY2fbc33eQP2TDpY7DD-CWrYc4q3a3WHX0oFB2RVPOKaZlOAb5S97xRPJt2b9S3W4pE2X-P-a1bif-LzIhkFOlP3BGhpCsE6o8Y1zyjCe8sDwIgJ~ilCvadoMghgygH88kDRDwGgqyplfE~jm6Z6845LA~09BH-YsJ1mvbxdUZSkzp4WvyV~4kzP-rwqhMdqz7SxBlSiIhkKVM0fMsHn7A0sPI~XB-QB~9BHr0M3gmxEp5LCA4oQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                        alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./images/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./images/symbol-defs.svg#icon-fullscreen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p>
                    <span class="old-price">300 грн</span><span class="hot-price">100 грн</span>
                </p>
            </li>
        </ul>
    </div>
</section>