<footer class="container footer">

    <div>
        <svg class="footer__icon-copyright">
            <use href="../images/symbol-defs.svg#icon-copyright"></use>
        </svg>
        2019<span class="footer__vector"></span>All Rights Reserved<span
            class="footer__vector footer__vector--hidden"></span>
    </div>
    <div>
        Developed with<div><svg class="footer__favorite-heart">
                <use href="../images/symbol-defs.svg#icon-favorite-heart"></use>
            </svg></div>by GoIT Students
    </div>

</footer>