<!-- Header -->
<header class="page-header">

    <nav class="container header">
        <button>Пошук</button>
        <a href="/" class="logo">LOGO</a>
        <div>
            <button>Реєстрація / Увійти</button>
            <button class="header__create-add-btn modal-btn">Створити оголошення!</button>
        </div>

        <ul class="site-nav">
            <li class="site-nav-item"><a href="#" class="link">Нерухомість</a></li>
            <li class="site-nav-item"><a href="#" class="link">Транспорт</a></li>
            <li class="site-nav-item"><a href="#" class="link">Робота</a></li>
            <li class="site-nav-item"><a href="#" class="link">Електроніка</a></li>
            <li class="site-nav-item"><a href="#" class="link">Бізнес та послуги</a></li>
            <li class="site-nav-item"><a href="#" class="link">Відпочинок та спорт</a></li>
            <li class="site-nav-item"><a href="#" class="link">Віддам безкоштовно</a></li>
            <li class="site-nav-item"><a href="#" class="link">Обмін</a></li>

        </ul>
        <button>Очистити фільтр</button>
    </nav>
</header>

<header class="header-container">
    <div class="header__mobile-container">
        <button class="search-button">
            <svg class="icon" width="25" height="25">
                <use href="./images/sprite.svg#icon-search"></use>
            </svg>
        </button>

        <a href="" class="logo">LOGO</a>

        <button type="button" class="menu-button open" aria-label="Переключатель мобильного меню" aria-expanded="false"
            data-menu-open>
            <svg class="icon" width="24" height="24">
                <use class="icon-menu" href="./images/sprite.svg#icon-menu-burger"></use>
            </svg>
        </button>

        <div class="header__button-container">
            <button type="button" class="header__autorization-btn modal-btn">Реєстрація / Увійти</button>
            <button type="button" class="header__create-add-btn modal-btn">Створити оголошення!</button>
        </div>
    </div>

    <div class="menu-container">
        <div class="backdrop" data-backdrop>
            <div class="mobile__menu-container is-open">

                <button type="button" class="menu-button close" aria-label="Переключатель мобильного меню"
                    aria-expanded="false" data-menu-close>
                    <svg class="icon" width="24" height="24">
                        <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>


                <ul class="menu">

                    <li class="header__button-mobile">
                        <button type="button" class="user__button mobile">Реєстрація / Увійти</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Нерухомість</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Транспорт</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Робота</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Електроніка</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Бізнес та послуги</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Відпочинок і спорт</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Віддам безкоштовно</button>
                    </li>

                    <li class="filter__item">
                        <button class="filter__button">Обмін</button>
                    </li>
                </ul>

            </div>
        </div>



        <button class="filter__button-clear" type="reset">
            Очистити фільтри
        </button>

    </div>



</header>

<!-- Так добавляются фрагменты в главные HTML-файлы страниц. -->
<!--<include src="./partials/header.html"></include>-->