@import './style/utils/normalize';
@import './style/utils/variables';
@import './style/components/basic';
@import './style/components/add_modal';
@import './style/components/prod_card';
@import './style/components/footer';
@import "./style/components/auth_modal";
@import './style/components/my_calls'


